@import './variables';

h1 {
  background: $gradient;
 -webkit-background-clip: text;
  color: transparent;
  font-weight: 500;
  font-size: 2.5em;
  text-align: left;
  margin: 100px 0 36px 0;

  @include tablet {
   font-size: 3em;
  }

  @include desktop {
    font-size: 5em;
    width: 90%;
  }

  @include desktop-xl {
    font-size: 7em;
    width: 90%;
    margin: 100px 0 36px 0;
  }
}

h2 {
  font-weight: 500;
  text-align: left;
  font-size: 2em;
  margin: 0 0 40px;

  @include tablet {
    font-size: 2.5em;
  }

  @include desktop {
    font-size: 3em;
    width: 60%;
    margin: 200px 0 36px 0;
  }
}

h3 {
  font-weight: 500;
  text-align: center;
  font-size: 2em;

  @include tablet {
    font-size: 2.5em;
  }

  @include desktop {
    font-size: 3em;
    margin: 200px 0 36px 0;
  }
}